body {
    background: #B1DCFB;
    color:#fff;
    text-shadow: 0px 0px 1px #0089ec;
  }


.brand-logo{
  text-shadow: 1px 1px 1px #000;
}
nav{
  font-family: 'Lobster', cursive;
  padding: 20px;
  min-height: 100px;
  margin-bottom: 100px;
  background: #B1DCFB;
  box-shadow: 0 0 0;
}
nav li a{
  font-size: 20px;
}
label{
  font-size: 24px;
  font-family:  'Lobster', cursive;
  color: #FFAB40;
}
input[type='text'],input[type='password']{
  border: 2px solid #444;
  border-radius: 3px;
  padding-left: 5px;

}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]){
  border-bottom: 2px solid #444;
  box-shadow: 0px 0px 3px 0px #FAFAFA;
}

.button{
  background: rgba(0,0,0,0);

  border: 2px solid #444;
}
.wide{
  min-width: 100%;
  margin-top: 20px;
}
.button:focus{
  background: #FFAB40;
}

footer.page-footer{
  background: #FFAB40;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px #000;
}
footer.page-footer .footer-copyright{
  color: #fff;
}
